html {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  background-color: black;

  > body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }
}

* {
  font-family: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
